.dart_tool/
.packages
.flutter-plugins
.flutter-plugins-dependencies
build/
coverage/
.idea/
*.iml
.DS_Store
android/.gradle/
android/local.properties
android/key.properties
**/*.jks
**/*.keystore
ios/Pods/
ios/.symlinks/
ios/Flutter/ephemeral/
ios/Flutter/Generated.xcconfig
ios/Flutter/flutter_export_environment.sh
.firebase/
*-debug.log
firebase/node_modules/
functions/node_modules/
.env
.env.*
!.env.example
**/*service-account*.json
**/*serviceAccount*.json
